@model InventoryManagement.App.Models.InventoryItemViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Inventory Details</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsSoldOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsSoldOut)
        </dd>
    </dl>
</div>
<div class="row">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" >Back to List</a>
</div>